<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Booking Kamar</div>
                <div class="panel-body">
                    <label for="nama" class="col-md-4 control-label">Nama</label>

                    <div class="col-md-6">
                        <input id="nama" type="text" class="form-control" name="nama" [(ngModel)]="nama" required>
                    </div>

                    <label for="email" class="col-md-4 control-label">E-Mail</label>

                    <div class="col-md-6">
                        <input id="email" type="email" class="form-control" name="email" [(ngModel)]="email" required>
                    </div>
                    <label for="alamat" class="col-md-4 control-label">Alamat</label>

                    <div class="col-md-6">
                        <input id="alamat" type="text" class="form-control" name="alamat" [(ngModel)]="alamat" required>
                    </div>
                    <label for="phone" class="col-md-4 control-label">Phone</label>

                    <div class="col-md-6">
                        <input id="phone" type="text" class="form-control" name="phone" [(ngModel)]="phone" required>
                    </div>
                        <div class="form-group">
                        <div class="col-md-6 col-md-offset-4">
                            <button (click)="add()" class="btn btn-primary">
                                Booking Kamar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>