<div class="content">
    <h3>Daftar Kamar</h3>
    <table class="table table-bordered table-striped">
        <tr>
          <th>ID.</th>
          <th>tipe_kamar</th>
          <th>Harga Kamar</th>
          </tr>
        <tr *ngFor="let k of api.data">
          <td>{{k.id}}</td>
          <td>{{k.tipe_kamar}}</td>
          <td>{{k.harga_kamar}}</td>
        </tr>
    </table>
</div>